<article class="post">
            <div class="title">
               <a href="{{title}}" target="_blank">{{title}}</a>
                <span>({{blog_text}})</span>
            </div>
            <div class="meta">
                Created by {{user.username}} on
                {{format_date created_at}}
                |
                <a href="/blog/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
</article>