<article>
    <a href="/dashboard">&larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="blog-title" type="text" value="{{blog.title}}">
            <span>({{format_url post.post_url}})</span>
        </div>
        <div>
            {{blog_text}}
            |
            <a href="/post/{{blog.id}}">{{post.comments.length}} {{format_plural "comment" blog.comments.length}}</a>
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments blog.comments}}

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>